// IMPORT FONTS
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&family=Roboto:wght@400;700&display=swap')
   
// VARIABLES
$main-color : #6342e8
$secondary-color : #e8d641
$background-light : #f5f2ff
$main-font : "Roboto", sans-serif
$secondary-font : "Raleway", sans-serif

//RESET
*
    padding: 0px
    margin: 0px
    box-sizing: border-box