@use '../../sass/variables' as *

.animalSection
    padding: 40px
    &__title
        font-size: 30px
        font-weight: 600
        margin: 20px 0
        font-family: $main-font
        color: $main-color
    .more, .more:visited
        font-size: 22px
        font-weight: 600
        margin-bottom: 20px
        font-family: $secondary-font
        text-align: right
        cursor: pointer
        text-decoration: none
        display: block
        color: $main-color
    
    &__container
        display: flex
        flex-wrap: wrap
        gap: 20px
        justify-content: flex-start


@media screen and (max-width: 850px)
    .animalSection
        padding: 20px
