@use "../../sass/variables" as *

.aboutContainer
  display: flex
  flex-direction: column
  text-align: center
  justify-content: center
  padding: 70px
  background-color: #F5F2FF
  gap: 45px

  h1
    color: $secondary-color
    font-family: $secondary-font
    font-weight: bold
    font-size: 40px

  p
    font-family: $main-font
    font-size: 25px

  .button
    display: flex
    justify-content: center

    a
      @include buttonsAnimatch ($color: white, $background: $main-color )
      line-height: 1.5em

@media screen and (max-width: 600px)

  .aboutContainer
    h1
      font-size: 30px
      p
        font-size: 17px
