@use '../../sass/variables' as *

.card
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: clamp(325px, 22%, 50%)
    background-color: $background-light
    border-radius: 8px
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
    transition: all 0.3s ease
    flex-grow: 1
    &:hover
        transform: scale(1.02)
    @include mq("medium")
        height: 250px
        flex-direction: column
        align-items: center
        justify-content: center
    @include mq("large")
        width: clamp(260px, 22%, 50%)
    &__img
        width: 60%
        min-width: 140px
        overflow: hidden
        border-radius: 8px 0 0 8px
        @include mq("medium")
            width: 100%
            height: 100%
            object-fit: cover
            border-radius: 8px 8px 0 0
            overflow: hidden
        img
            position: relative
            left: -50%
            object-fit: cover
            border-radius: 8px 0 0 8px
            @include mq("medium")
                left: 0
                border-radius: 8px 8px 0 0
                width: 100%
                height: 100%
                object-fit: cover
    &__content
        width: 100%
        position: relative
        padding: 0px 14px
        .favorite
            bottom: 5px
            position: absolute
            display: flex
            justify-content: center
            align-items: center
            border-radius: 50%
            background-color: $secondary-color
            bottom: 10px
            right: 10px
            width: 30px
            height: 30px
            cursor: pointer
            font-size: 1.1rem
            color: $background-light
            &_active
                svg:hover
                    color: $main-color
        .card__title
            font-family: $secondary-font
            font-size: 18px
            font-weight: 600
            margin: 10px 0

        .card__text
            position: relative
            width: 100%
            font-size: 14px
            font-weight: 400
            padding: 10px 0
            color: #666
            font-family: $main-font
            ul
                list-style: none

.cardLink
    text-decoration: none
    color: $main-color
    width: clamp(260px, 22%, 50%)
