@import '../../sass/variables'

.navbar
    height: 50px
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 2rem
    margin-bottom: 1rem
    background-color: $background-light
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2)
