@use "../../sass/variables" as *

.footer
    background-color: $main-color
    display: flex
    justify-content: space-between
    align-items: center
    padding: 30px 50px
    color: #ffffff
    font-family: $main-font

    .logo
        width: 116px

    .footerContent
        min-width: 700px
        h3
            font-size: 20px

        p
            font-size: 18px

@media screen and (max-width: 950px)
    .footer
        display: flex
        flex-direction: column
        padding: 25px 45px

        .logo
            font-size: 25px
            margin-bottom: 20px

        .footerContent
            min-width: 300px
            text-align: center

            h3
                font-size: 20px
                margin-bottom: 10px
            p
                font-size: 15px
                width: 100%
