@use "../../sass/variables" as *

.comments 

  &_pagination
    display: flex
    justify-content: center
    font-family: $main-font
    font-size: 1em

    li
      list-style: none
      padding: 0.5em
      background: $secondary-color
      color: black
      border: 1px solid white
      cursor: pointer
      
      &:hover 
        background: darken($secondary-color, 20)
        

    .active
      background: $main-color
      color: white
      &:hover 
        background: darken($main-color, 20)
        

  &_list
    width: 80%
    font-family: $main-font
    margin: 50px
    justify-content: center

    h2
      font-family: $secondary-font
      font-weight: 700
      font-size: 1.4em
      padding: 1em 0

    &_noComments
      margin: 1em
      font-size: 1em

  &_form
    padding: 1em
    padding-right: 0
    margin-bottom: 3em
    width: 100%
    @include mq(medium)
    // padding: 1em calc(80px + 1em)
    margin: 0 auto
    justify-content: center
    h2
      font-family: $secondary-font
      font-weight: 700
      font-size: 1.3em
      padding: 2em 0 1em 0
      color: $main-color

    &_commentInput
      width: 81%
      height: 200px
      resize: none
      font-size: 1.1em
      font-family: $main-font
      padding: 1em
      border: none
      outline: none
      border: solid 2px $secondary-color
      margin-left: 35px
    
    &_button
      @include buttonsAnimatch ($color: black, $background: $secondary-color )
      min-width: 170px
      display: block
      margin: 0 auto